
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Task Details</title>
</head>
<body>
    <h1><%= task.title %></h1>
    <p><%= task.description %></p>
    <a href="/tasks">Back to List</a>
</body>
</html>
